@using EntityLayer.Concrete

@{
    ViewData["Title"] = "Index";
}

<div>
    @(Html.Kendo().Scheduler<Etkinlik>()
        .Name("scheduler")
        .Date(DateTime.Now)
        .StartTime(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 09, 00, 00))
        .EndTime(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 18, 00, 00))
        .Height(550)
        .Editable(edit=>{
            edit.Confirmation(true);
            edit.Create(false);
            @*edit.Update(false);*@
            edit.Destroy(false);
            edit.EditRecurringMode(SchedulerEditRecurringMode.Series);
            edit.TemplateId("customEditorTemplate");
        })
        .Footer(false)
        .Views(views =>
        {
            views.DayView();
            views.WeekView(week =>
            {
                week.Selected(true);
            });
            views.MonthView();
            views.YearView();
            views.AgendaView();
        })
        .DataSource(d => d
        .Model(m =>
        {
            m.Id(f => f.ID);
            m.Field(f => f.Title).DefaultValue("Başlık yok");
            m.Field(f=> f.CreateTime).DefaultValue(DateTime.Now);
        })
        .Read("Read", "Etkinlik")
        .Create("Create", "Etkinlik")
        .Update("Update", "Etkinlik")
        .Destroy("Destroy", "Etkinlik")
        )
    )
</div>


<script id="customEditorTemplate" type="text/x-kendo-template">
    <div class="k-edit-label"><label for="title">Başlık</label></div>
    <div data-container-for="title" class="k-edit-field">
        <input type="text" data-role="textbox" name="title" required="required" data-bind="value:title"/>
      </div>
    <div class="k-edit-label">
        <label for="start">Başlangıç</label>
      </div>
    <div data-container-for="start" class="k-edit-field">
        <input type="text"
               data-role="datetimepicker"
               data-interval="10"
               data-type="date"
               data-bind="value:start,invisible:isAllDay"
               name="start"/>
        <input type="text" data-type="date" data-role="datepicker" data-bind="value:start,visible:isAllDay" name="start" />
        <span data-bind="text: startTimezone"></span>
        <span data-for="start" class="k-invalid-msg" style="display: none;"></span>
      </div>
    <div class="k-edit-label"><label for="end">Bitiş</label></div>
    <div data-container-for="end" class="k-edit-field">
        <input type="text"
               data-type="date"
               data-role="datetimepicker"
               data-interval="10"
               data-bind="value:end,invisible:isAllDay"
               name="end"
               data-datecompare-msg="Bitiş tarihi, başlangıç tarihinden büyük veya ona eşit olmalıdır." />
        <input type="text" data-type="date" data-role="datepicker" data-bind="value:end,visible:isAllDay" name="end" data-datecompare-msg="Bitiş tarihi, başlangıç tarihinden büyük veya ona eşit olmalıdır." />
        <span data-bind="text: endTimezone"></span>
        <span data-bind="text: startTimezone, invisible: endTimezone"></span>
        <span data-for="end" class="k-invalid-msg" style="display: none;"></span>
      </div>
    <div class="k-edit-label"><label for="isAllDay">Bütün gün</label></div>
    <div data-container-for="isAllDay" class="k-edit-field">
        <input type="checkbox" name="isAllDay" data-type="boolean" data-bind="checked:isAllDay"/>
      </div>
    <div class="k-edit-label"><label for="recurrenceRule">Tekrar</label></div>
    <div data-container-for="recurrenceRule" class="k-edit-field">
        <div data-bind="value:recurrenceRule" name="recurrenceRule" data-role="recurrenceeditor"></div>
      </div>
    <div class="k-edit-label"><label for="description">Açıklama</label></div>
    <div data-container-for="description" class="k-edit-field">
        <textarea name="description" data-role="textarea" data-bind="value:description"></textarea>
      </div>
</script>